body {
    overflow:hidden;
}

.title-container{
  height: 5em;
  color: #ffffff;
  background: #175690;
}
.title-container img{
  width:  50%;
  position: absolute;
  top : 0.6em;
}
.title-container p{
   float: right;
   font-weight: bold;
   font-size: 12px;
   margin-top: 2em;
}
.title-container a{
  color: #fff;
}
.footer-login{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  background: #fff;
  color: #175690;
  font-size: 12px;
  font-weight: bold;
  border-top: 4px solid #fc7d00;
}
.footer-login p{
  margin-top: 0.8em;
}

.strength-indicator{
  position: relative;
  left: 30%;
}

.strength{
  height: 8px;
  width: 30px;
  background: rgba(255,255,255,0.5);
  margin: 5px;
  float: left;
}



#content .short{
  background: #fc7d00;
  /*background: #E12D05;*/
}
#content .weak{
  background: #fc7d00;
  /*background: #E8DE07;*/
}
#content .good{
  background: #fc7d00;
  /*background: #0718E8;*/
}
#content .strong{
  background: #fc7d00;
  /*background: #2EAF08;*/
}

#content .none{
  /*background: rgba(255,255,255,0.5);*/
  background: #2EAF08;
}
#result{
  font-size: 12px;
  margin-left: 5px;
}

#divCheckPassword{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.yes{
    color: green;
}

.no{
  color: red;
}

.login{
    position: absolute;
    top: 20%;
    left: 60%;
}

label {
  margin-bottom: 0;
}

a {
  color: #ffffff;
}

a:focus,
a:hover {
  color: #fff;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
  margin-top: 6px;
}

body.login {
  background: rgba(255, 255, 255, 0.5);
}

.relative {
  position: relative;
}
.switcher{
  margin-bottom:70px;
}
ul.switcher li{
  list-style-type: none;
  width:50%;
  position:absolute;
  top:0;
}
.first{
  left:0;
}
.second{
  right:0;
}
.login-container-wrapper {
  max-width: 400px;
  margin: 2% auto 5%;
  padding: 40px;
  box-sizing: border-box;
  /*background: rgba(57, 89, 116, 0.8);*/
  background: rgba(23, 86, 144, 0.5);
  position: relative;
  box-shadow: 0px 30px 60px -5px #000;
  /*background-image:url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg');*/
  background-size:cover;
  background-blend-mode:saturation;
}
.login-container-wrapper .logo,
.login-container-wrapper .welcome {
  font-size: 12px;
  letter-spacing: 1px;
}
.login-container-wrapper li {
  text-align: center;
  padding:0 15px;
  background-color: #283443;
  height:50px;
  line-height:50px;
  box-shadow: inset 0 -2px 0 0 #ccc;
  cursor:pointer;
}
.login-container-wrapper li a{
  color:#fff;
}
.login-container-wrapper li a:hover{
color:#ccc;
  text-decoration:none;
}

.login-container-wrapper li a:active,
.login-container-wrapper li a:focus{
  color:#fff;
  text-decoration:none;
}
.login-container-wrapper li.active{
  background-color:transparent;
  box-shadow:none;
}
.login-container-wrapper li.active a{
  border-bottom:2px solid #fff;
  padding-bottom:5px;
}

.login input:focus + .fa{
  color:#175690;
}
.login-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-form i {
  position: absolute;
  top: 0;
  left: 19px;
  line-height:52px;
  color: rgba(40, 52, 67, 1);
  z-index:100;
  font-size:16px;
}

.login-form .input-lg {
  font-size: 12px;
  height: 52px;
  padding: 10px 25px;
  border-radius: 0;
  font-weight: bold;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"],
.login input:focus {
  background-color: rgba(40, 52, 67, 0.75);
  border: 0px solid #4a525f;
  color: #eee;
  border-left: 45px solid #93a5ab;
  border-radius:40px;
}

.login input:focus {
  border-left: 45px solid #eee;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(40, 52, 67, 0.75)!important;
  background-image: none;
  color: rgb(0, 0, 0);
  border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
  color: #ddd;
  vertical-align: top;
}
input[type="checkbox"]:checked + label::before,
  .checkbox-success input[type="radio"]:checked + label::before {
  background-color: #175690 !important;
}
.btn-btn {
  background-color: rgba(255,255,255,0.7);
  background-image: none;
  color: #175690;
  padding: 8px 50px;
  margin-top:20px;
  border-radius: 40px;
  border: 2px solid #fc7d00;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
  font-size: 12px;
  font-family: tahoma, Arial, 宋体, Verdana, sans-serif;
  font-weight: bold;
}


.btn-btn:focus,
.btn-btn:hover,
.btn-btn.active,
.btn-btn.active:hover,
.btn-btn:active:hover,
.btn-btn:active:focus,
.btn-btn:active {
  background-color: #fc7d00;
  border-color: #ffff;
  box-shadow: 0px 5px 35px -5px #175690;
  text-shadow:0 0 8px #fff;
  color: #FFF;
  outline:none;
}

.text-center{
font-family: tahoma, Arial, 宋体, Verdana, sans-serif;
font-size: 13px;
}




/*index*/
#body{
  min-height:  900px;
  background: rgb(242, 242, 242);
}

.main-container{
  width: 60%;;
  /*height: 500px;*/
  /*border: 3px solid #fc7d00;*/
  margin-left: auto;
  margin-right: auto;
  background: #ffff;
  position: relative;
  padding-bottom: 30px;
  top: -18em;
}

.index-title{
  position: relative;
  top: -25em;
}
@media screen (min-width: 360px)
{
    .index-title img{
    width:  30%;
    position: absolute;
    top : 0.6em;
  }
}

@media screen (max-width: 361px)
{
    .index-title img{
    width:  30%;
    position: absolute;
    top : 0.6em;
  }
}


.index-title p{
   float: right;
   font-weight: bold;
   font-size: 12px;
   margin-top: 2em;
}
.index-title a{
  color: #fff;
}
.profile-container{
  max-height: 10.3em;
  /*border-bottom: 3px solid #fc7d00;*/
  background: rgb(228, 239, 234)
}
.profile-container img{
  height: auto;
  width:  100%;
  margin: 0.15em 0em 0.15em 0.15em;
  max-height: 10em;
}
.profile-container p{
  font-size: 12px;
  line-height: 10px;
}
.text{
  margin-top: 2em;
}

.profile-container ul{
  list-style-type: none;
  -webkit-padding-start: 0;
  font-size: 11px;
  font-weight: bold;
}

.profile-container ul li{
  display: inline;
  margin-right: 10px;
}

.profile-container ul li a{
  color: blue;
}

.profile-container ul li span{
  margin-left: 10px;
}
.icon-btn{
  margin-top: 20px;
  margin-bottom: 100px;
}

.icon-btn div{
  /*border: 1px solid black;*/
  text-align: center;
  font-size: 35px;
  color: #fff;
  margin-top:  0em;

}

.icon-btn div i{
  background: #FF5733;
  padding: 1em;
  width: 100px;
  height: 100px;
  border-radius: 100%;

}

.icon-container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-nav>li>a{
  color: #ffffff;
}

.navbar-default {
    border-color: #FF5733;
}

/*index*/





@media screen and (max-width:1400px) {
  .main-container{
    width:80%;
  }
}


@media screen and (max-width:769px) {
  .title-container img{
    width:  40%;
    position:fixed;
     top:  3%;
  }

  body {
      overflow:visible;
  }

}
@media screen and (max-width:600px) {
  .title-container img{
    width:  50%;
    position:fixed;
     top:  4%;
  }

  .login{
      position: relative;
      top: 10%;
      left: 0%;
  }

  .profile-container img{
    width: 10em;
    margin-left:  4em;
    min-width: 10em;
    border-radius: 100px;
  }

  .text{
    margin-top: 0.5em;
    margin-left: 0.5em;
   }

}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}




.table-user-information > tbody > tr > td {
    border-top: 0;
    font-size: small;
    color: white;
}
.toppad
{
  margin-top:20px;
}

.infoTitle{
  background-color: orange;
}

.information{
  background-color: #52acf2;
}

.sidebar-design{
  /* background: url(https://www.reduceimages.com/img/image-after.jpg) no-repeat center center fixed; */
/* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 background-color: orange; */
 display: none;
}

.button-text{
  text-decoration: none;
  font-weight: normal;
  height: 25px;
  font-size: 1.0em;
}

.sidebar-menu{
  display: none;
}
